body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --black: #001524;
  --skin-color: #fbefe6;
  --dried-grass: #D6CC99;
  --bush-green: #445D48;
  --dried-leaf: #e9ead7;
  --light-brown: #D6C7AE;
  --med-brown: #BFB29E;
  --brown: #B3A492;
  --grass: #8caf7e;
  --cream: #F5EEC8;
  --grey-green: #D0D4CA;
  --mehendi: #555843;
}